.data-dashboard {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    text-align: center;
  }
  
  .data-dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .data-dashboard .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  
  .data-dashboard .summary-statistics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
  

  